name: FAST ALL TIME BOT

on:
  schedule:
    # 10:30 WIB (03:30 UTC) - Senin s.d Jumat
    - cron: '30 3 * * 1-5'
  workflow_dispatch:

jobs:
  run-fast:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run FAST ALL TIME
        env:
          TG_TOKEN: ${{ secrets.TG_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: python bot_fast_all_time.py
